:root{
    --dark-primary-color:#;
    --default-primary-color:#;
    --light-primary-color:#;
    --text-primary-color:#;
    --accent-color:#;
    --primary-text-color:#;
    --secondary-text-color:#;
    --divider-color:#;
}